.nft:hover .nft__menu, .search__icon:hover .search{
    display: block;
  }
  
  .nft__menu{
    z-index: 1;
    transform-origin: calc(20%) top;
    animation: headerNotifyGrowth linear 0.2s;
  }
  
  .nft__menu::before {
    content: "";
    position: absolute;
    border-width: 22px 24px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    cursor: default;
    top: -31px;
    left: 10px;
    z-index: 1;
  }
.transition-4{
  transition: all .4s;
}

.transition-hover {
  transition: margin-bottom linear 0.2s;
}
  .uk-menu1 {
    width: 60%;
    color: #a9aaab;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 49;
  }
  .uk-menu2 {
    color: #a9aaab;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 49;
    height: 100%;
  }

  .search{
    z-index: 1;
    transform-origin: calc(80%) top;
    animation: headerNotifyGrowth linear 0.2s;
  }

  @-webkit-keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-moz-keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-ms-keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-o-keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


#nav-icon3 {
    width: 20px;
    height: 10px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  
  #nav-icon3 span:nth-child(1) {
    top: -1px;
  }
  
  #nav-icon3 span:nth-child(2),
  #nav-icon3 span:nth-child(3) {
    top: 6px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 12px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 2px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
