@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@import "./layouts/Header/header.css";

html,body{
  font-family: 'Open Sans', sans-serif;
}

.post__detail p{
    margin-block-start: 1.5rem;
    margin-block-end: 0;
}

.post__detail ul {
  margin-top: 1.5rem;
  padding-left: 20px;
}

.post__detail ul li{
  list-style-type: disc;
  margin-block-start: 0.5rem;
  margin-block-end: 0;
}

.post__detail img{
    margin: 2rem 0;
    object-fit: contain;
}

.post__content img {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .post__content:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: brightness(50%);
    border-radius: 8px;
  }
  
  .post__content:hover h2{
    color: #2A60A9;
    transition: all .2s;
  }

  .post__content .text {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.2s;
    text-align: center;
    background-image: linear-gradient(to bottom, transparent, rgb(52, 52, 52));
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: black 1px 0 10px;
    font-weight: 700;
    font-size: 1px;
  }
  .post__content:hover .text {
    opacity: 1;
    font-size: 16px;
    color: white;
    pointer-events: none;
  }

  .latest__posts::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    top: 0;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
  }



/* Blur Background */
.blur__bg-head::after {
  content: "";
  position: absolute;
  width: 309px;
  height: 303px;
  left: 0%;
  top: 0%;
  background: #388ac7;
  -webkit-filter: blur(150px);
  -moz-filter: blur(150px);
  -ms-filter: blur(150px);
  filter: blur(150px);
  z-index: 2;
}

.blur__bg-fund {
  content: "";
  position: absolute;
  width: 380px;
  height: 406px;
  left: -15%;
  top: 75%;
  background: #2b8ac9;
  -webkit-filter: blur(150px);
  -moz-filter: blur(150px);
  -ms-filter: blur(150px);
  filter: blur(150px);
  z-index: 2;
}

.blur__bg::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 350px;
  height: 300px;
  top: -30%;
  right: 0%;
  background: #2b8ac9;
  -webkit-filter: blur(150px);
  -moz-filter: blur(150px);
  -ms-filter: blur(150px);
  filter: blur(150px);
  -webkit-filter: blur(150px);
}

.blur__bg-mobile::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 338px;
  left: -100px;
  top: 0;
  z-index: 2;
  background: #388ac7;
  -webkit-filter: blur(200px);
  -moz-filter: blur(200px);
  -ms-filter: blur(200px);
  filter: blur(200px);
}
/* End Blur Background */



.content__post h6{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;

  padding-top: 50px;
}

.content__post h5{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;

  padding-top: 50px;
}

.post__detail a{
  color: #2b8ac9;
  font-weight: 500;
}

.content__post h4{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  padding-top: 50px;
}

.content__post h2{
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
  padding-top: 50px;
}
.content__post h3{
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  padding-top: 50px;
}
.content__post h1{
  font-size: 26px;
  font-weight: 700;
}


input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 0px;
  height: 0px;
}

input[type=checkbox]:checked:before {
      content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 3px solid #FFCB9A;
  border-radius: 20px;
  background-color: #445768;  
  transition: all 0.2s linear;
}


input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid #aaaaaa;
  border-radius: 3px;
  background-color: #ffffff;
}


input[type=checkbox]:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: solid #FFCB9A;
  border-width: 0 0px 0px 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  top: 0px;
  left: 50px;
  transition: all 0.2s linear;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 7px;
  height: 12px;
  border: solid #FFCB9A;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 10px;
}


[type=radio] {
  display: none;
}

#slider {

  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  background-color: aliceblue;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}


#s1:checked ~ #slide3, #s2:checked ~ #slide1,
#s3:checked ~ #slide2 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  -webkit-filter: brightness(60%);
  transform: translate3d(0,-50px,-80px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,-20px,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  -webkit-filter: brightness(60%);
  transform: translate3d(0,40px,-100px);

}


figcaption{
  text-align: start;
  margin-top: -0.5rem;
  font-size: 14px;
  font-style: italic;
  color: white;
  background: #388ac7;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
}